@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;

}
body{
  width: 100%;
  /* background-color: aqua; */
  font-family: 'Poppins', sans-serif;
}

footer{
  width: 100%;
  background-color: #010101;
  height: 300px;
  position: relative;
  /* margin-top: 20px; */
  /* margin-bottom: 5px; */
  font-family: 'Poppins', sans-serif;
  

}
.foot-col{

  width: 32%;
  /* background-color: aqua; */
  margin-right: 2%;
  margin-top: 2%;
  display: inline-block;
  float: right;
  /* background-color: #e91e63; */
}

.foot-col h3{
  font-size: 30px;
  color: #ffffff;
  margin-top: 0px;
  margin-left: 80px;
  /* background-color: aqua; */
}
.foot-col p{
  color: #9b9dad;
  margin-left: 80px;
  margin-top: 5px;
  
}
.foot-col span{
  color: #9b9dad;
  font-size: 15px;
  margin-left: 3%;
}
.foot-col-1{
  margin-left: 2%;
  display: inline-block;

  width: 30%;
  position: relative;

  
}
.foot-col-1 h3{
  color: #ffffff;
  margin-top: 30px;
  margin-left: 30px;
  z-index: -50;
  

  
}

.foot-col-1 h3::before{
content: '';
position: absolute;
left: 30px;
top: 60px;
background-color: #f04b0a;
height: 2px;
box-sizing: border-box;
width: 60px;
}


.foot-col-1 a{
  color: #9b9dad;
  text-decoration: none;
   display: block;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.3s ease;
  padding: 5px 0;
}
.foot-col-1 a:hover{
  color: #ffffff;
  padding-left: 8px;
}


.foot-col-2{
    position: absolute;
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    /* background-color: red; */

}
.foot-col-2 h3{
  color: #ffffff;

  margin-top: 30px;
  margin-left: 30px;
  z-index: -50;

}

.foot-col-2 h3::before{
  content: '';
  position: absolute;
  left: 32px;
  top: 60px;
  background-color: #f04b0a;
  height: 2px;
  box-sizing: border-box;
  width: 60px;
  }
.foot-col-2 p{
  color: #9b9dad;
  margin-left: 30px;
  margin-top: 20px;
}
.lastpart{
    width: 100%;
    
    height: 60px;
    background-color: rgb(36, 37, 46);
    margin-top: -16px;
}
.lastpart p{
    align-items: center;
    color: #fff;
    text-align: center;
    padding-top: 20px;
  

}


@media screen and (max-width:1019px)
{
  .foot-col h3{
      margin-right: 5%;

  }
  .foot-col p{
      margin-right: 0%;
      /* margin-left: 20%; */
  }
 

}

@media screen and (max-width:955px) {
  .foot-col h3{
      margin-left: 20px;
      margin-top: 7px;
  }
  .foot-col p{
      margin-left: 20px;
  }
  
}







@media screen and (max-width:803px) {
  .foot-col h3{
      margin-left: 8px;
      font-size: 24px;
      margin-top: 13px;
  }
  .foot-col p{
      margin-left: 8px;
      margin-top: 10px;
  }
  
}


@media screen and (max-width:781px) {

  footer{
      height: 450px;
      margin: 0;
      padding: 0;
      /* margin-top: 270px; */
  }
  .foot-col{
      width: 95%;
      margin-left: 2.5%;
      margin-top: 85px;
      
      
  }
  .foot-col-1{
      width: 95%;
      float: none;
  }
  .foot-col-1 h3{
      margin-left: 20px;
  }
  .foot-col-1 a{
      margin-left: 20px;
  }
  .foot-col-2{
      width: 95%;
      float: none;
      left: 2.5%;
      top: 200px;
  }
  .foot-col-2 h3{
      margin-left: 5px;
      /* margin-top: 10px; */
  }
  .foot-col-2 p{
      margin-left: 8px;
  }
  .foot-col h3{
      font-size: 20px;
      margin-left: 15px;
      margin-top: 10px;

  }
  .foot-col p{
      margin-left: 15px;
  }
}

@media screen and (max-width:335px) {

  .foot-col p{
      /* font-size: 13px; */
      /* margin-left: 6px; */
  }
  .foot-col{
      margin-top: 105px;

  }

  
}

@media screen and (max-width:326px) {


  .foot-col-1 a{
      font-size: 14px;
  }

  .foot-col-2 p{
      font-size: 14px;
  }

  .foot-col p{
      font-size: 14px;
      /* margin-left: 6px; */
  }
  .foot-col{
      /* margin-top: 105px; */

  }

  .lastpart p{
      font-size: 13px;
      margin-top: 10px;

  }
  
}

@media screen and (max-width:301px) {

 .foot-col-1 h3{
     font-size: 16px;
     margin-left: 8px;
 }
 .foot-col-1 a{
     margin-left: 8px;
 }

 .foot-col-2 h3{
     font-size: 16px;
     margin-left: 5px;

 }
 .foot-col-2 p{
     margin-left: 5px;
 }

 .foot-col h3{
     margin-left: 5px;

 }
 .foot-col p{
     margin-left: 5px;
 }
  
  
}

@media screen and (max-width:288px) {

  .foot-col{
      margin-top: 120px;
  }
  
  
}