
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
.body{
    font-family: 'Poppins', sans-serif;
}



.contactus {
    width: 90%;
    margin-left: 5%;
    height: 300px;
    background-image: url(./contacts.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

@media screen and (max-width: 420px) {
    .contactus {
        background-size: 60% 50%;
        background-position: 100% 100%;
    }

}

.note {
    width: 20px;
    height: 85px;
    font-size: 12px;
    background-color: crimson;
    position: absolute;
    top: 10px;
    left: -20px;
    padding-left: 8px;
}


#open-button {
    background-color: #000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    
    position: absolute;
    bottom: 23px;
    right: 48px;
    width: 240px;
    display: block;
    margin-left: 30px;
    box-shadow: 0px 8px 8px rgb(0, 0, 0, 0.4);

}

@media screen and (max-width:420px) {
    #open-button {
        bottom: -70px;
        right: 10px;
    }

}


/* The popup form - hidden by default */
.form-popup {
    display: none;
    
    bottom: 0;
    right: 15px;

    border: 2px solid #000000;
    z-index: 9;
   
    /* background-size: 100% 100%; */
    /* background-position: right; */
    /* background-repeat: no-repeat; */
    background-color: #ffffff;

    /* -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s; */

}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #ccc;


}

.form-container h1 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    border-left: 2px solid #000000;
    padding-left: 4px;
    font-family: 'Poppins', sans-serif;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container textarea
 {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    margin-left: 0px;
    border: none;
    /* background-color: blue; */

    border-bottom: 1px solid #000000;
    border-radius: 4px;
}

.form-container input[type=file]{

    width: 90%;
    padding: 15px;
    /* margin: 5px 0 22px 0; */
    
    border: none;
    /* display: none; */

}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container textarea:focus {
    background-color: #fff;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    /* background-color:#fafcfc; */
    /* color: green; */
    background: #12e956;
    color: #ffffff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #111;
}

/* Add some hover effects to buttons */






footer{
    width: 100%;
    background-color: #010101;
    height: 300px;
    margin-top: 27%;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    z-index:-1;

}
.foot-col{

    width: 40%;
    /* background-color: aqua; */
    margin-right: 2%;
    margin-top: 2%;
    display: inline-block;
    float: right;
    /* background-color: #e91e63; */
}

.foot-col h3{
    font-size: 30px;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 35%;
    /* background-color: aqua; */
}
.foot-col p{
    color: #9b9dad;
    margin-left: 25%;
    margin-top: -20px;
    
}
.foot-col span{
    color: #9b9dad;
    font-size: 15px;
    margin-left: 3%;
}
.foot-col-1{
    margin-left: 2%;
    display: inline-block;

    width: 40%;
    position: relative;

    
}
.foot-col-1 h3{
    color: #ffffff;
    margin-top: 30px;
    margin-left: 30px;
    

    
}
  
.foot-col-1 h3::before{
	content: '';
	position: absolute;
	left: 50px;
	top: 60px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}

 
.foot-col-1 a{
    color: #f1f1f1;
    text-decoration: none;
     display: block;
    margin-left: 20px;
    font-size: 16px;
    /* text-transform: uppercase; */
    font-weight: 300;
    
    z-index:-1;

    padding: 5px 0;
    transition: 0.3s;
}
.foot-col-1 a:hover{
    color: #ffffff;
    padding-left: 8px;
}




@media screen and (max-width:1019px)
{
    .foot-col h3{
        margin-right: 5%;

    }
    .foot-col p{
        margin-right: 0%;
        margin-left: 20%;
    }
   

}

@media screen and (max-width:949px) {
    .foot-col h3{
        margin-left: 25%;
    }
    .foot-col p{
        margin-left: 13%;
    }
    
}

@media screen and (max-width:877px) {
    .foot-col h3{
        margin-left: 18%;
    }
    .foot-col p{
        margin-left: 9%;
    }
    
}

@media screen and (max-width:839px) {
    .foot-col h3{
        margin-left: 15%;
    }
    .foot-col p{
        margin-left: 5%;
    }
    
}

@media screen and (max-width:803px) {
    .foot-col h3{
        margin-left: 12%;
    }
    .foot-col p{
        margin-left: 0%;
    }
    
}

@media screen and (max-width: 626px) {
    .foot-col h3{
        margin-left: 2%;
        font-size: 26px;
    }
    
    
}

@media screen and (max-width:501px) {

    footer{
        height: 380px;
        margin: 0;
        padding: 0;
        margin-top: 400px;
    }
    .foot-col{
        width: 95%;
        
        
    }
    .foot-col-1{
        width: 95%;
        float: none;
    }
    .foot-col h3{
        font-size: 24px;
        margin-left: 25px;

    }
    .foot-col p{
        margin-left: 10px;
    }
}

@media screen and (max-width:301px) {

    .foot-col p{
        font-size: 13px;
        margin-left: 6px;
    }
    
}