@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100% ;
    background-color: #131417;
    height: 100vh;
    /* border-left: 10px solid white; */
}





.name{
    float: right;
    top: 10px;
    right: 10%;
    position: absolute;
    /* width: 15%; */
    /* background-color: rgb(231, 18, 18); */
  }
  .name h1{
    font-size: 40px;
    margin-top: 30px;
  
    color: #ffffff;
  }
  .name p{
    font-weight: 700;
    right: 5%;
    position: absolute;
    top: 80px;
    color: #ffffff;
  }
  

  
#exp{
    -webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
  }
  
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
 
  @media screen and (max-width:600px) {

    .name{
        right: 5%;
    }
    
    .name h1{
      font-size: 30px;
    }
    .name p{
      top: 65px;
    }

}


.landing{
    width: 90%;
    /* max-width: 1200px; */
    
    color: #fff;
    
    height: 640px;
    position: relative;
    /* background-color: aqua; */
    /* margin-top: 120px; */
    
    /* padding: 0 2rem; */
}
.middle{
    width: 45%;
    /* background-color: #ccc; */
    display: inline-block;
    height: 420px;
    position: relative;
    margin-top: 100px;


}

.licon{
    position: absolute;
    left: 80px;
}

.middle h3{
    font-size: 35px;
    /* position: absolute; */
    margin-top: 90px;
    /* color: #ffffff; */
    color: #fff;
    margin-left: 80px;
}
.middle p{
    color: #c7c9d3;
    margin-top: 10px;
    margin-left: 80px;
}

@media screen and (max-width:650px) {
    
.middle h3{
    font-size: 26px;
}
    
}





@media screen and (max-width:350px) {
    
    .middle p{
        font-size: 14px;
    }
        
    }




.button1{
    font-size: 14px;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    padding: 12px 20px;
    /* margin: 0 10px 0 0; */
    margin-top: 60px;
    margin-left: 80px;
    position: relative;
    border-radius: 4px;
    border: 3px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    background: #47cf73;
    color: #000;
    font-weight: 500;
}
.button1:hover{
     background: #248c46;
     color: white;
    

}
.button2{
    font-size: 14px;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    padding: 12px 20px;
    /* margin: 0 10px 0 0; */
    margin-top: 60px;
    margin-left: 30px;
    position: relative;
    border-radius: 4px;
    border: 3px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #444857;
    font-weight: 500;
}
.button2:hover{
    background: #5a5f73;
    
}
@media screen and (max-width:1004px) {
    .button1{
        margin-left: 35%;
    }
    
}
@media screen and (max-width:890px) {
    .button1{
        margin-left: 31%;
    }
    
}

@media screen and (max-width:810px) {
    .button1{
        margin-left: 27%;
    }
    
}

@media screen and (max-width:652px) {
    
    .button1{
        margin-left: 24%;
        margin-top: 30px;
    }
    .button2{
        margin-left: 20px;
        margin-top: 0px;
    }

}
@media screen and (max-width:582px) {
    
    .button1{
        margin-left: 22%;
        margin-top: 30px;
    }
    .button2{
        margin-left: 20px;
        margin-top: 0px;
    }

}

@media screen and (max-width:501px) {
    
    .button1{
        margin-left: 17%;
        margin-top: 30px;
    }
    .button2{
        margin-left: 20px;
        margin-top: 0px;
    }

}


@media screen and (max-width:462px) {
    
    .button1{
        margin-left: 14%;
        margin-top: 30px;
    }
    .button2{
        margin-left: 20px;
        margin-top: 0px;
    }

}

@media screen and (max-width:416px) {
    
    .button1{
        margin-left: 8%;
        margin-top: 30px;
    }
    .button2{
        margin-left: 20px;
        margin-top: 0px;
    }

}

@media screen and (max-width:362px) {
    
    .button1{
        margin-left: 5%;
        margin-top: 30px;
    }
    .button2{
        margin-left: 20px;
        margin-top: 0px;
    }

}

@media screen and (max-width:341px) {
    
    .button1{
        margin-left: 3%;
        margin-top: 30px;
    }
    .button2{
        margin-left: 10px;
        margin-top: 0px;
    }

}





@media screen and (max-width:318px) {

    .button1{
        margin-left: 5px;
        margin-top: 30px;
        /* padding: 8px 10px; */

    }
    .button2{
        margin-left: 5px;
        margin-top: 30px;
        /* padding: 10px 12px; */

    }

    
}


@media screen and (max-width:307px) {
    
    .button1{
        margin-left: 25%;
        margin-top: 30px;
        padding: 10px 12px;

    }
    .button2{
        display: none;

    }

}




.third{
    width: 500px;
    /* margin-left: 50%; */
    float: right;
    position: absolute;
    top: 180px;
    /* left: 5%; */
    right: -3%;
    display: inline-block;
    height: 420px;
    
    background: linear-gradient(
        109.61deg
        ,#4c4f5a 4.26%,#202125 84.84%);

    border-radius: 10px;
    


}
.third .first{
    position: absolute;
    width: 300px;
    height: 140px;
    background-color: #1d1e22;
    top: -2%;
    left: 35%;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.5);
    
}
.third .first h2{
    margin-left: 4%;
    margin-top: 5px;
    font-size: 14px;
    color: #c5c8d4;
    font-family: 'Lato', sans-serif;
}



.third .first code{
    font-size: 11px;
    
    margin-left: 20px;
}
.third .second{
    position: absolute;
    width: 300px;
    height: 140px;
    background-color: #1d1e22;
    top: 36%;
    left: 45%;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.5);
    
}
.third .second h2{
    margin-left: 4%;
    margin-top: 5px;
    font-size: 14px;
    color: #c5c8d4;
    font-family: 'Lato', sans-serif;
}
.third .second pre {
    margin-left: 10%;
    font-size: 11px;
    /* font-weight: 500; */
    overflow: hidden;
    
    display: inline-block;
        font-weight: normal;
    
}

.third .second pre::after{
    content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    
    height: 15px;
  width: 2px;
      animation: cursor 0.4s infinite;

}

@keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
}

.third .last{
    position: absolute;
    width: 300px;
    height: 140px;
    background-color: #1d1e22;
    /* background-color: white; */
    top: 73%;
    left: 26%;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.5);
    border-left: 0px solid white;
}
.third .last h2{
    margin-left: 4%;
    margin-top: 5px;
    font-size: 14px;
    color: #c5c8d4;
    font-family: 'Lato', sans-serif;
}
.third .last pre{
    font-size: 11px;
    margin-left: 10%;
    margin-top: 0px;
}




#snackbar {
    visibility: hidden;
  min-width: 280px;
  margin-left: -125px;
  /* background-color: #f5faff; */
  background-color: #1d1e22;
  border-radius:6px;
  /* color: rgb(158, 146, 146); */
  color: white;
  width:80%;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999999;
  left: 10%;
  bottom: 30px;
  font-size: 17px;
  border-left:10px solid #118ab2;
  box-shadow:0px 8px 8px rgb(0, 0, 0, 0.5);
  }
  #snackbar h1{
    
    color: #fff;
    font-size: 18px;
   
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }
  
  #snackbar h2{
    
    /* color: #4a4a4a; */
    color: #eff2fd;
    font-size: 14px;
     margin-top: 10px;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
    display:block;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 14.8s;
    animation: fadein 0.5s, fadeout 0.5s 14.8s;
  }
  @media screen and (max-width:355px){
    #snackbar {
      height:130px;
      margin-left: 0px;
      min-width: 260px;
      margin-right: auto;
  
    }
    #snackbar h2{
        margin-top: 30px;
    }
  }
  
  @-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
  
    to {
        bottom: 30px;
        opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
  
    to {
        bottom: 30px;
        opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
  
    to {
        bottom: 0;
        opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
  
    to {
        bottom: 0;
        opacity: 0;
    }
  }

  .parent{
      width: 100%;
      /* max-width: 1280px; */
      position: relative;
      /* margin: 0px auto; */
      height: 900px;
      background-color: #131417;
      /* background-color: white; */
      /* background-color: turquoise; */
      /* margin-top: 140px; */
  }




  .left{
      width: 48%;
      margin-left: 20px;
      display: inline-block;
      height: 550px;
      margin-top: 140px;
      
      
  }
  .left .pic{
      background-image: url(./images/4428861\ \(2\).jpg);
      width: 100%;
      height: 500px;
      border-top-right-radius: 140px;
      background-size: contain;
      /* background-position: left; */
      
      background-repeat: no-repeat;
      margin-top: 40px;
  }

  .right{
      float: right;
      width: 45%;
      color: white;
      /* display: inline-block; */
      margin-top: 140px;
      margin-right: 2%;
      
  }

  .right h5{
      font-size: 16px;
      line-height: 20px;

  }
  .right h1{
      font-size: 30px;
      padding: 10px 0px;
  }


  .right span{
      font-size: 16px;
      line-height: 22px;
      font-weight: 200;
      color: #eff2fd;
  }

  .right h3{
      font-size: 18px;
      padding-top: 25px;
      font-weight: 500;
  }
  .right p{
      font-size: 16px;
      padding-top: 5px;
      font-weight: 300;
      color: #eeeff7;

  }



  .btn1{
    position: absolute;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    bottom: 50px;
    text-align: right;
    right: 15%;
    z-index: 50;
    /* background-color: white; */
  }
  
   .btn1 a{
    border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  /* text-transform: uppercase; */
  outline: none;
  overflow: hidden;
  position: relative;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  background: #47cf73;
  padding: 20px 35px;
  border-radius: 40px;
  
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  
      }
      
    .btn1 a span{
        position: relative;
        z-index: 1;
        
        
    }  
.btn1 a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    /* background: #78c7d2; */
    /* background: #248c46; */
    background: white;
    color: white;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn1 a:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

/*  
  .btn1 a:hover{
        background: #248c46;
        color: white;
      }
      
   */
  









  .color{
      width: 100%;
      /* background-color: #ebebff; */
      background-color: #131417;
      height: 500px;
      overflow: auto;
      white-space: nowrap;
      
      position: relative;
     
  }
  .color h1{
      position: absolute;
      left: 4%;
      top: 10px;
      /* font-family: LyftProUI, sans-serif; */
      /* font-size: 36px; */
      line-height: 44px;
      margin-block-start: 0.83em;
      margin-block-end: 0.83;
      margin-inline-end: 0px;
      margin-inline-start: 0px;
      /* font-weight: 600; */
      color: #ffffff;
  }
  .feature-1{
      width: 300px;
      height: 290px;
      background-color: #1d1e22;
      display: inline-block;
      box-shadow: rgb(0,0,0,0.12) 0px 0px 1px 0px, rgb(0,0,0,0.16) 0px 2px 3px 0px;
      position: relative;
    border-radius: 16px;
    margin-top: 150px;
    margin-left: 3%;
    /* border-left: 16px solid #FAD02C; */
    
  }
  .feature-1 h3{
      position: absolute;
      left: 15px;
      top: 170px;
      font-size: 600;
      color: #ffffff;
  }

  .feature-1 p{
    position: absolute;
    top: 200px;
    left: 15px;
    font-weight: 500;
    /* font-family: ProximaNova, sans-serif; */
    line-height: 20px;
    color: #eff2fd;

}

  .image1{
      background-image: url(./images/color\ \(1\).png);
      width: 200px;
      height: 150px;
      position: absolute;
      top: 10px;
      left: 70px;
      background-size: contain;
      background-repeat: no-repeat;
  }
  


  
 .btn{
    position: absolute;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    top: 40px;
    text-align: right;
    right: 5%;
    /* z-index: 30; */
  }
  
   .btn a{
    display: inline-block;
    margin-top: 6px;
  
    background-color: #FFFFFF;
    padding: 14.5px 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
  
    font-weight: 600;
    border-color: rgb(255, 255, 255);
    border-radius: 72px;
    font-size: 20px;
    
    box-shadow: 0px 6px 16px rgb(0,0,0,0.3) !important;
    
    transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
    text-decoration: none;
    font-weight: bolder;
  
    
      
  
  } 
  .btn a:hover{
    opacity: 0.8;
  }
  
  


  .feature-2{
    width: 300px;
    height: 290px;
    background-color: #1d1e22;
    display: inline-block;
    box-shadow: rgb(0,0,0,0.12) 0px 0px 1px 0px, rgb(0,0,0,0.16) 0px 2px 3px 0px;
    border-radius: 16px;
    margin-top: 150px;
    margin-left: 1%;
    position: relative;
    /* border-left: 16px solid #C26DBC; */



}
.feature-2 h3{
    position: absolute;
    left: 15px; 
    top: 170px;
    color: #ffffff;
}


.image2{
    background-image: url(./images/color-palette.png);
    width: 200px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.feature-2 p{
    position: absolute;
    top: 200px;
    left: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #eff2fd;

}
.feature-3{
    width: 300px;
    height: 290px;
    background-color: #1d1e22;
    display: inline-block;
    box-shadow: rgb(0,0,0,0.12) 0px 0px 1px 0px, rgb(0,0,0,0.16) 0px 2px 3px 0px;
    border-radius: 16px;

    margin-top: 150px;
    margin-left: 1%;
    /* border-left: 16px solid #e968be; */
    position: relative;


    


}

.image3{
    width: 200px;
    height: 150px;
    background-image: url(./images/rgb.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 70px;
    position: absolute;
    top: 10px;
    
}
.feature-3 h3{
    position: absolute;
    left: 15px;
    top: 170px;
    font-size: 18px;
    color: #ffffff;
}
.feature-3 p{
    position: absolute;
    top: 200px;
    left: 15px;
    font-weight: 500;
    color: #eff2fd;

}

.feature-4{
    width: 300px;
    height: 290px;
    background-color: #1d1e22;
    display: inline-block;
    box-shadow: rgb(0,0,0,0.12) 0px 0px 1px 0px, rgb(0,0,0,0.16) 0px 2px 3px 0px;
    border-radius: 16px;
    margin-top: 150px;
    margin-left: 1%;
    /* border-left: 16px solid #65b1bb; */
    position: relative;




}

.image4{
    width: 200px;
    height: 150px;
    background-image: url(./images/web.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 70px;
    position: absolute;
    top: 10px;
    
}
.feature-4 h3{
    position: absolute;
    left: 20px;
    top: 170px;
    color: #ffffff;
}
.feature-4 p{
    position: absolute;
    top: 200px;
    left: 20px;
    font-weight: 500;
    color: #eff2fd;
}


.see-more{
    position: absolute;
    top: 480px;
    right: 5%;
    display: none;
}
.see-more h4{
    color: #ffffff;
    font-weight: 400;
    
}
.head-color{
    /* width: 100%; */
    position: relative;
}

@media screen and (max-width:450px) {
    .color{
        /* height: 460px; */
    }
    .see-more{
        display: block;
    }
    
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}



@media screen and (max-width:1199px) {
    .parent{
        height: 930px;
    }
    
}


@media screen and (max-width:1168px) {
    .parent{
        height: 960px;
    }
    
}



@media screen and (max-width:1118px) {
    .parent{
        height: 1000px;
    }
    
}


@media screen and (max-width:1171px) {
    .landing{
        height: 700px;
    }
    
    
}

@media screen and (max-width:1928px) {
    .feature-1{
        margin-left: 16%;
    }
    
}
@media screen and (max-width:1788px) {
    .feature-1{
        margin-left: 14%;
    }
    
}

@media screen and (max-width:1648px) {
    .feature-1{
        margin-left: 12%;
    }
    
}

@media screen and (max-width:1533px) {
    .feature-1{
        margin-left: 9%;
    }
    
}
@media screen and (max-width:1497px) {
    .feature-1{
        margin-left: 7%;
    }
    
}

@media screen and (max-width:1430px) {
    .feature-1{
        margin-left: 6%;
    }
    
}

@media screen and (max-width:1400px) {
    .feature-1{
        margin-left: 3%;
    }
    
}


@media screen and (max-width:1004px) {

    .landing{
        width: 100%;
        /* background-color: #47cf73; */
    }

    .middle{
        width: 90%;
        margin-left: 5%;
        /* background-color: #47cf73; */
    }

    .middle h3{
        
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .licon{
        left: 30px;
        top: -10px;
    }
    .middle p{
        margin-left: 20px;
        text-align: center;
    }

    .third{
        width: 90%;
        left: 5%;
        right: 5%;
        top: 580px;
        height: 310px;
    }
    .third .first{
        left: -4%;
        top: 10%;
    }
    .third .second{
        left: 68%;
        top: 26%;

    }
    .third .last{
        left: 22%;
        top: 48%;
    }
    .parent{
        margin-top: 220px;
        height: 1050px;
        /* background-color: white; */
    }

    .color{
        margin-top: 10px;
    
    }
    .color h1{
        margin-top: 10px;

    }
    .btn1{
        /* top: 950px; */
        bottom: 50px;
        right: 12%;
    }
}


@media screen and (max-width: 919px) {
    .parent{
        height: 1080px;
    }
    .btn1{
        bottom: 20px;
    }
}

@media screen and (max-width:808px) {
    .color{
        height: 530px;
    }
    .feature-1{
        margin-top: 200px;
    }
    .btn{
        top: 80px;
    }
    
}
@media screen and (max-width:602px) {
    .color h1{
        font-size: 26px;
    }
    
}

@media screen and (max-width: 496px) {
    .color h1{
        font-size: 22px;
    }

    .btn{
        top: 70px;
    }
    .btn a{
        font-size: 16px;
        padding: 12px 25px;

    }
    .feature-1{
        margin-top: 160px;
    }
    
}

@media screen and (max-width: 413px) {
    .color h1{
        font-size: 20px;
    }

    .btn{
        right: 33%;
    }
    
}

@media screen and (max-width: 386px) {
    .btn{
        right: 30%;
    }
    
    
}

@media screen and (max-width: 341px) {
    .btn{
        right: 28%;
    }
    .color h1{
        font-size: 20px;
        width: 200px;
    }
    
    
}

@media screen and (max-width: 307px) {
    .btn{
        right: 26%;
    }
    .color h1{
        font-size: 18px;
        margin-left: -5px;
    }
    .btn a{
        font-size: 14px;
        padding: 10px 22px;
        border-radius: 80px;
    }
    
    
}

@media screen and (max-width:400px) {

    .feature-1{
        height: 280px;
        width: 270px;
    }
    .feature-2{
        height: 280px;
        width: 270px;
    }

    .feature-3{
        height: 280px;
        width: 270px;
    }

    .feature-4{
        height: 280px;
        width: 270px;
        margin-right: 20px;
    }

    .feature-1 h3{
        font-size: 16px;
    }
    .feature-2 h3{
        font-size: 16px;
    }
    .feature-3 h3{
        font-size: 16px;
    }
    .feature-4 h3{
        font-size: 16px;
    }
    .feature-1 p{
        font-size: 14px;
    }
    .feature-2 p{
        font-size: 14px;
    }
    .feature-3 p{
        font-size: 14px;
    }
    .feature-4 p{
        font-size: 14px;
    }
    
    
}

@media screen and (max-width:743px) {
    .parent{
       
        height: 1330px;
        margin-top: 260px;
    }
    .btn1{
        right: 32%;
        bottom: 30px;
    }
   .left{
       width: 90%;
       margin-left: 5%;
       margin-top: 40px;
   }
   .right{
       width: 90%;
       margin-left: 5%;
       margin-right: 5%;
       margin-top: 40px;

   }
   .right h5{
       text-align: center;
       font-size: 22px;
   }
   .right h1{
       text-align: center;
       
       
   }
   
    
}

@media screen and (max-width:693px) 
{
    .right{
        margin-top: -20px;
    }
    
}

@media screen and (max-width:582px) 
{
    .parent{
        height: 1350px;

    }
    .btn1{
        right: 28%;
    }
    
}
@media screen and (max-width:559px) 
{
    .right{
        margin-top: -60px;
    }
    .parent{
        height: 1370px;

    }
    .btn1{
        right: 26%;
    }
}



@media screen and (max-width:500px) 
{
    .parent{
        height: 1280px;
        
    }
    .right{
        margin-top: -130px;
    }

    .right h1{
        font-size: 24px;
    }
    
}

@media screen and (max-width:445px) 
{
    .parent{
        height: 1300px;
        
    }
    .right{
        margin-top: -130px;
    }

    .right h1{
        font-size: 24px;
    }
    
    .btn1{
        right: 26%;
    }
    .btn1 a{
        font-size: 16px;
    }
}
@media screen and (max-width:420px) {
    .btn1{
        right: 23%;
    }
    
}

@media screen and (max-width:398px) {
    .right{
        margin-top: -170px;
    }
    .right h5{
        font-size: 16px;
    }
    .right h1{
        font-size: 20px;
    }
    .parent{
        height: 1230px;
    }
    
}

@media screen and (max-width:371px) {
    .parent{
        height: 1280px;
    }
    .btn1{
        right: 20%;
    }
    
}

@media screen and (max-width:345px) {
    

    .right{
        margin-top: -210px;
    }
    .parent{
        height: 1300px;
    }
    .btn1{
        right: 19%;
    }

    .left{
        margin-top: -100px;
    }
    
}
@media screen and (max-width:332px) {
    .parent{
        height: 1170px;
        
    }
    
    .right h1{
        font-size: 18px;
    }
    .right span{
        font-size: 14px;
        margin-left: 5px;
    }
 

    .right h3{
        font-size: 16px;
    }
    .right h5{
        font-size: 14px;
    }
    .right p{
        font-size: 14px;
    }
    .btn1{
        right: 17%;
    }
    
}

@media screen and (max-width:306px) {
    .parent{
        height: 1220px;
    }

    .btn1 a{
        font-size: 14px;
        padding: 14px 30px;
        
    }
    .btn1{
        right: 17%;
    }

   

    
}

@media screen and (max-width:298px) {
    .parent{
        height: 1220px;
    }
    .right h1{
       font-size: 16px;
    }
    .btn1{
        right: 17%;
    }
    
}

@media screen and (max-width:283px) {
    .parent{
        height: 1240px;
    }


    .btn1{
        right: 15%;
    }

    
}


@media screen and (max-width:890px) {

    .third .second{
        left: 64%;
    }
    
}

@media screen and (max-width:800px) {

    .third .second{
        left: 62%;
    }
    
}


@media screen and (max-width:767px) {

    .third .second{
        left: 58%;
    }
    .third .last{
        left: 14%;
        top: 46%;
    }
    
}


@media screen and (max-width:713px) {

    .third .second{
        left: 55%;
    }
    
}


@media screen and (max-width:667px) {

    .third .second{
        left: 52%;
    }
    
}


@media screen and (max-width:630px) {

    .third {
        top: 570px;
        height: 310px;
    }
    .third .second{
        left: 48%;
    }
    .third .last{
        left: 9%;
    }
    
}


@media screen and (max-width:600px) {

    .third {
        top: 590px;
        height: 310px;
    }
    .third .second{
        left: 48%;
    }
    .third .last{
        left: 9%;
    }
    
}

@media screen and (max-width:587px) {

    .third .second{
        left: 45%;

    }
    .third .last{
        left: 6%;
        top: 55%;
    }
    
}


@media screen and (max-width:587px) {

    .third .second{
        left: 41%;

    }
    .third .last{
        left: 6%;
        top: 55%;
    }
    
}


@media screen and (max-width:513px) {

    .third .second{
        left: 38%;

    }
    .third .last{
        left: 6%;
        top: 55%;
    }
    
}


@media screen and (max-width:492px) {

    .third .second{
        left: 34%;

    }
    .third .last{
        left: 4%;
        top: 61%;
    }
    .third{
        top: 580px;
    }
    
}


@media screen and (max-width:470px) {

    .third .second{
        left: 34%;
        /* overflow: hidden; */

    }
    .third .last{
        left: 4%;
        top: 61%;
    }
    .third{
        top: 590px;
        /* overflow: hidden; */
        
    }
    
}

@media screen and (max-width:465px) {

    .middle h3{
        margin-left: 10px;
        margin-right: 10px;
    }
    .middle p{
        margin-left: 10px;
        margin-right: 10px;
    }
    
}

@media screen and (max-width:372px) {

    .middle h3{
        margin-left: 0px;
        margin-right: 0px;
    }
    .middle p{
        margin-left: 5px;
        margin-right: 5px;
    }
    
}


@media screen and (max-width:358px) {


    .licon{
        top: -30px;
        left: 20px;
    }
    .middle h3{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 60px;
        font-size: 20px; 
       }

    .middle p{
        margin-left: 0px;
        font-size: 14px;
        /* margin-right: 5px; */
    }
    
}




@media screen and (max-width:462px) {

    .third .second{
        left: 30%;
        /* overflow: hidden; */

    }
    .third .last{
        left: 4%;
        top: 61%;
    }
    .third{
        top: 620px;
        /* overflow: hidden; */
        
    }
    
}



@media screen and (max-width:439px) {

    .third .second{
        left: 25%;
        /* overflow: hidden; */

    }
    .third .last{
        left: 4%;
        top: 61%;
    }
    
    
}


@media screen and (max-width:415px) {

    .third .second{
        left: 35%;
        width: 250px;
        /* overflow: hidden; */
        

    }
    .third .last{
        left: 4%;
        top: 61%;
    }
    
}






@media screen and (max-width:392px) {

    .third .first{
        width: 250px;
        height: 120px;
        top: 15px;
    }

    .third .second{
        left: 26%;
        top: 70px;
        width: 250px;
        /* overflow: hidden; */
        height: 120px;

    }
    .third .last{
        left: 4%;
        top: 160px;
        width: 250px;
        height: 120px;
    }
    .third{
        top: 620px;
        height: 250px;
        /* overflow: hidden; */
        
    }
    
}

@media screen and (max-width:359px) {
    .third{
        top: 550px;
    }

    
}

@media screen and (max-width:351px) {
    .third .second{
        left: 22%;
    }

    
    .third{
        top: 550px;
    }


    
}




@media screen and (max-width:331px) 
{
    .third .second{
        left: 17%;
    }
 
}



@media screen and (max-width:314px) 
{

    .third .first{
        top: 10px;
    }
    .third .second{
        left: 13%;
    }
 
}

@media screen and (max-width:300px) 
{
    .third .first{
        top: 10px;
        width: 230px;
    }
    .third .second{
        left: 18%;
        width: 230px;
    }
    .third .last{
        width: 230px;
    }
 
}
@media screen and (max-width:291px) 
{

    .third .first{
        top: 10px;
    }
    .third .second{
        left: 14%;
    }
 
}




















































footer{
    width: 100%;
    background-color: #010101;
    height: 300px;
    position: relative;
    /* margin-top: 20px; */
    /* margin-bottom: 5px; */
    font-family: 'Poppins', sans-serif;
    
  
  }
  .foot-col{
  
    width: 32%;
    /* background-color: aqua; */
    margin-right: 2%;
    margin-top: 2%;
    display: inline-block;
    float: right;
    /* background-color: #e91e63; */
  }
  
  .foot-col h3{
    font-size: 30px;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 80px;
    /* background-color: aqua; */
  }
  .foot-col p{
    color: #9b9dad;
    margin-left: 80px;
    margin-top: 5px;
    
  }
  .foot-col span{
    color: #9b9dad;
    font-size: 15px;
    margin-left: 3%;
  }
  .foot-col-1{
    margin-left: 2%;
    display: inline-block;
  
    width: 30%;
    position: relative;
  
    
  }
  .foot-col-1 h3{
    color: #ffffff;
    margin-top: 30px;
    margin-left: 30px;
    z-index: -50;
    
  
    
  }
  
  .foot-col-1 h3::before{
  content: '';
  position: absolute;
  left: 30px;
  top: 60px;
  background-color: #f04b0a;
  height: 2px;
  box-sizing: border-box;
  width: 60px;
  }
  
  
  .foot-col-1 a{
    color: #9b9dad;
    text-decoration: none;
     display: block;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.3s ease;
    padding: 5px 0;
  }
  .foot-col-1 a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  
  
  .foot-col-2{
      position: absolute;
      width: 30%;
      display: inline-block;
      margin-left: 2%;
      /* background-color: red; */
  
  }
  .foot-col-2 h3{
    color: #ffffff;
  
    margin-top: 30px;
    margin-left: 30px;
    z-index: -50;
  
  }
  
  .foot-col-2 h3::before{
    content: '';
    position: absolute;
    left: 32px;
    top: 60px;
    background-color: #f04b0a;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
    }
  .foot-col-2 p{
    color: #9b9dad;
    margin-left: 30px;
    margin-top: 20px;
  }
  .lastpart{
      width: 100%;
      
      height: 60px;
      background-color: rgb(36, 37, 46);
      margin-top: -16px;
  }
  .lastpart p{
      align-items: center;
      color: #fff;
      text-align: center;
      padding-top: 20px;
    
  
  }
  
  
  @media screen and (max-width:1019px)
  {
    .foot-col h3{
        margin-right: 5%;
  
    }
    .foot-col p{
        margin-right: 0%;
        /* margin-left: 20%; */
    }
   
  
  }
  
  @media screen and (max-width:955px) {
    .foot-col h3{
        margin-left: 20px;
        margin-top: 7px;
    }
    .foot-col p{
        margin-left: 20px;
    }
    
  }
  
  
  
  
  
  
  
  @media screen and (max-width:803px) {
    .foot-col h3{
        margin-left: 8px;
        font-size: 24px;
        margin-top: 13px;
    }
    .foot-col p{
        margin-left: 8px;
        margin-top: 10px;
    }
    
  }
  
  
  @media screen and (max-width:781px) {
  
    footer{
        height: 450px;
        margin: 0;
        padding: 0;
        /* margin-top: 270px; */
    }
    .foot-col{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 85px;
        
        
    }
    .foot-col-1{
        width: 95%;
        float: none;
    }
    .foot-col-1 h3{
        margin-left: 20px;
    }
    .foot-col-1 a{
        margin-left: 20px;
    }
    .foot-col-2{
        width: 95%;
        float: none;
        left: 2.5%;
        top: 200px;
    }
    .foot-col-2 h3{
        margin-left: 5px;
        /* margin-top: 10px; */
    }
    .foot-col-2 p{
        margin-left: 8px;
    }
    .foot-col h3{
        font-size: 20px;
        margin-left: 15px;
        margin-top: 10px;
  
    }
    .foot-col p{
        margin-left: 15px;
    }
  }
  
  @media screen and (max-width:335px) {
  
    .foot-col p{
        /* font-size: 13px; */
        /* margin-left: 6px; */
    }
    .foot-col{
        margin-top: 105px;
  
    }
  
    
  }
  
  @media screen and (max-width:326px) {
  
  
    .foot-col-1 a{
        font-size: 14px;
    }
  
    .foot-col-2 p{
        font-size: 14px;
    }
  
    .foot-col p{
        font-size: 14px;
        /* margin-left: 6px; */
    }
    .foot-col{
        /* margin-top: 105px; */
  
    }

    .lastpart p{
        font-size: 13px;
        margin-top: 10px;
  
    }
    
  }
  
  @media screen and (max-width:301px) {
  
   .foot-col-1 h3{
       font-size: 16px;
       margin-left: 8px;
   }
   .foot-col-1 a{
       margin-left: 8px;
   }
  
   .foot-col-2 h3{
       font-size: 16px;
       margin-left: 5px;
  
   }
   .foot-col-2 p{
       margin-left: 5px;
   }
  
   .foot-col h3{
       margin-left: 5px;
  
   }
   .foot-col p{
       margin-left: 5px;
   }
    
    
  }
  
  @media screen and (max-width:288px) {
  
    .foot-col{
        margin-top: 120px;
    }
    
    
  }
